hyper sense participant drawings/
output/
output_23/
output_api/
*.keras
.DS_Store
Participant *
__pycache__/
.venv/
*.gif

# QuickDraw Datasets
quickdraw_data/
*.npy

# Logs and debug artifacts
*.log
*_log.txt
*.png
.env
